body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00ff37;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #ff0000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.card-header {
    background-color: #0077f6;
    color: #f40d0d;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 20px;
    text-align: center;
}

.balance {
    font-size: 24px;
    color: #ff0000;
}
